*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    overscroll-behavior-y: none;
    font-family: 'Poppins', sans-serif;
}

/* utility section */
.hidden{
    display: none;
    pointer-events: none;
}

/* end utility section */

.video-background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .03;
    z-index: -5;
    margin: 0px;
    min-height: -webkit-fill-available;
    
}

.video-background video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.burger{
    display: none;
    position: fixed;
    top: 10px;
    right: 15px;
    transform: scale(.5);
    transform-origin: top right;
    z-index: 10;
}

.burger-active{
    fill: white;
    transition: .2s ease-in-out .8s;
}

.burger:hover{
    cursor: pointer;
}

.top-triangle{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
    z-index: 3;
}

.top-triangle-shift{
    transform: translateX(-50%) translateY(-120px);
    transition: .5s ease-in-out;
}

.top-triangle-shift-contact{
    transform: translateX(-50%) translateY(-120px);
    transition: .6s ease-in-out;
}

.bottom-left-triangle{
    position: fixed;
    left: 0px;
    bottom: 0px;
    transform: scale(.7);
    transform-origin: bottom left;
    transition: .7s ease-in-out;
    z-index: 3;
}

.left-triangle-shift{
    transform: scale(.4);
    transition: .7s ease-in-out;
}

.bottom-right-triangle{
    position: fixed;
    right: 0px;
    bottom: 0px;
    transform: scale(.7);
    transform-origin: bottom right;
    transition: .7s ease-in-out;
    z-index: 10;
}

.right-triangle-shift{
    transform: scale(.4);
    transition: .7s ease-in-out;

}

nav{
    position: fixed;
    display: grid;
    grid-template-columns: 2% 2fr 1fr ;
    width: 100%;
    min-height: 8vh;
    padding-top: .5rem;
    align-items: top;
    z-index: 5;
}

nav img{
    grid-column: 2/3;
    height: 2rem;
    color: black;
    transition: .2s ease-in-out;
}

nav img:hover{
    color: gray;
    cursor: pointer;
    transition: .2s ease-in-out;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

nav li{
    color: black;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: .2s ease-in-out;
}

a{
    text-decoration: none;
}

nav li:hover{
    border-bottom: 3px solid rgb(172, 172, 172);
    border-radius: 1px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.side-nav-container{
    position: fixed;
    right: 0px;
    width: 50%;
    height: 100vh;
    background-color: black;
    transform: translateX(75%) rotate(36deg);
    transform-origin: bottom left;
    transition: .5s ease-in-out;
    z-index: 6;
}

.side-nav-active{
    transform: translateX(0%) rotate(0deg);
    transition: 1s ease-in-out;
}

.side-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    width: 100%;
    min-height: 8vh;
    padding-top: .5rem;
    align-items: top;
    z-index: 5;
}

.side-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

.side-nav li{
    color: white;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: .2s ease-in-out;
}

.side-nav li:hover{
    border-bottom: 3px solid rgb(172, 172, 172);
    border-radius: 1px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.fab{
    color: white;
    margin-right: 1rem;
    font-size: 2rem;

}

.fas{
    color: white;
    margin-right: 1rem;
    font-size: 2rem;

}

.fab:hover{
    color: gray;
}

.fas:hover{
    color: gray;
}

.web-links{
    position: fixed;
    left: 10%;
    bottom: 20px;
    height: 50px;
    bottom: 20px;
}

.container{
    width: 100%;
    height: 100vh;
}

.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title h1{
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    transform: translateY(15px) translateX(-9px);
}

.container-title h2{
    transform: translateY(20px);
}

.container-about{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.container-portfolio{
    display: grid;
    padding: 8% 6% 6% 6%;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 7% 1fr 1fr 1fr 7%;
}

.container-portfolio h2{
    padding-top: 150px;
    justify-self: center;
}

.container-contact {
    position: relative;
    /* min-width: 1200px; */
    overflow-x: hidden;
    overflow: hidden;

}
.container-contact img{
    position: absolute;
    overflow: hidden;
    bottom: 34%;
    width: 100%;
    object-fit: cover;
    transform: translate(0%);
    transform-origin: bottom;
}

.contact-background-fill{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35%;
    background-color: black;
}

.about-left{
    padding: 5rem 15rem 3rem 3rem;
    width: 140%;
    min-width: 560px;
}

.about-right{
    padding: 5rem 2rem 3rem 0rem;
    width: 100%;
}

.skill-grid{
    display: flex;
    flex-wrap: wrap;
}

.skill-grid i{
    margin: 1rem;
}

.skill-grid .fab{
    color: black;
} 

.about-img{
    position: absolute;
    height: 300px;
    width: auto;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
}

.box{
    position: relative;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px;
    background-color: grey;
    border-radius: 15px;
}

.box img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px solid gray;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.box:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px grey;
    transition: .2s ease-in-out;
}


.box button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding: .5rem;
    font-size: .8rem;
    border-radius: 3px;
    transform: translateX(-50%);
    cursor: pointer;
    /* pointer-events: none;  */
}

.button-background{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s ease-in-out;
}

.box-planner{
    justify-self: start;
    grid-column: 1 / span 2;
}
.box-password{
    justify-self: end;
    grid-column: 4 / span 2;
}
.box-hatcher{
    grid-column: 2/3;
}
.box-strtup{
    align-self: flex-end;
}

.contact-header{
    position: fixed;
    color: white;
    left: 50%;
    top: 10px;
    font-size: 2.5rem;
    text-align: center;
    z-index: 7;
    transform: translateX(-50%);
}

.contact-form{
    width: 50%;
    margin-left: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(-130px);
}

.contact-form input{
    background-color: #e4e4e4;
    width: 30%;
    padding: .2rem;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    min-width: 200px;
}

.contact-form textarea{
    height: 90px;
    width: 80%;
    padding: .2rem;
    font-size: 1rem;
    border-radius: 2px;
    border: none;
    background-color: #e4e4e4;
    resize: none;
    overflow-y: scroll;
    min-width: 200px;
}

#btn-submit{
    width: 10px;
    height: 30px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 2px solid #e4e4e4;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.contact-header-mobile{
    display: none;
}

#btn-submit:hover{
    background-color: #e4e4e4;
    color: black;
    transition: .2s ease-in-out;
}

.web-links-contact{
    position: absolute;
    left: 50%;
    bottom: 50px;
    height: 50px;
    bottom: 20px;
    transform: translate(-50%, 0%);
}


/* begin media queries */
@media only screen and (max-width: 1060px) {
    nav ul{
        display: none;
        pointer-events: none;
    }

    .burger{
        display: initial;
    }

}

@media only screen and (max-width: 760px) {

    .container{
        min-height: -webkit-fill-available;
    }

    .top-triangle{
        transform: translateX(-50%) translateY(-250px);
    }

    .bottom-left-triangle, .bottom-right-triangle{
        transform: scale(.1);
    }

    .side-nav-container{
        transform: translateX(100%) ;
        height: 100%;
        width: 88%;
        
    }

    .side-nav-active{
        transform: translateX(0px) ;
        
    }

    .container-title{
        text-align: center;
    }

    .container-about{
        flex-wrap: wrap;
    }

    .container-about img{
        display: none;
    }

    .about-left{
        padding: 1rem;
    }

    .about-right{
        padding: 1rem;
    }



    .container-portfolio{
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .box{
        margin: 1rem 0rem;
        position: relative;
        justify-self: center;
        align-self: center;
        height: auto;
        width: 75%;
        background-color: grey;
        border-radius: 15px;
    }
    
    .portfolio-header{
        display: none;
    }
    .box-planner{
        
    }
    .box-password{
        
    }
    .box-hatcher{
        
    }
    .box-strtup{
        
    }

    .container-contact img{
        display: none;
    }

    .contact-header-mobile{
        margin: 2rem;
        display: block;
        color: white;
        text-align: center;
    }

    .contact-background-fill{
        height: 70%;
    }

    .contact-form{
        position: absolute;
        bottom: 5f0px;
        left: 40%;
        transform: translateX(-100%);
    }
}


